*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: auto;
    overflow: hidden;
}
/* 
font-family: 'Anek Telugu', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
 */

 h1, h2, h3 {
    font-family: 'Anek Telugu', sans-serif;
    font-weight: 800;
 }

 h2 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
 }

 p, span, input, button {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
 }

.mainSection {
    background-color: #fff;
}


/* LOGO STYLES */
.logoArea {
    clip-path: polygon(100% 0, 100% 87%, 64% 76%, 0 100%, 0 0);
    background-color: #fda904;
    color: #fff;
    height: 80vh;
    position: relative;
}

.logo {
    position: absolute;
    bottom: 43%;
    left: 15%;
}

.logo img {
    width: 50px;
    height: 40px;
    margin: auto auto -45px 50px;
}

.logo h1 span {
    font-size: 64px;
    font-weight: 800;
}

.logo h1{
    font-size: 40px;
}

.logo h2 {
    font-size: 20px;
    font-weight: 600;
    margin-left: 7px;
}

/* BODY STYLE */
.getStarted {
    margin: 20px auto 20px 75px;
}

.button {
display: flex;
flex-direction: row;
height: auto;
width: min-content;
background-color: #fdaa041c;
margin-top: 15px;
border-radius: 5px;
}

.button p {
    margin: 10px;
}

.button p span {
    font-size: 16px;
}

.button input {
    outline-style: none;
    border: none;
    font-size: 16px;
    background-color: #fdaa0405;
}

.divider {
   background-color: black;
   width: 1px;
   height: 28px;
   margin: auto 10px;
}

.getStarted > :nth-child(1){
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}


/* RESPONSIVE STYLE */
@media screen and (min-width: 700px) and (max-width: 1800px) {

    .mainSection {
        display: flex;
        justify-content: space-between;
    }

    .logoArea {
        clip-path: polygon(100% 0, 100% 36%, 27% 20%, 100% 38%, 100% 61%, 32% 73%, 100% 62%, 100% 100%, 0 100%, 0 0);
        width: 55%;
        height: 100vh;
    }

    .getStarted, .getStarted1 {
        margin: auto;
    }

    .logo img {
        width: 55px;
        height: 45px;
        margin: auto auto -50px 50px;
    }
    
    .logo h1 span {
        font-size: 70px;
    }
    
    .logo h1{
        font-size: 44px;
    }
    
    .logo h2 {
        font-size: 24px;
    }


    /* BUTTON RESTYLING */
    .button {
        margin-top: 25px;
    }

    .button p {
        margin: 15px 20px;
    }
    
    .button p span {
        font-size: 22px;
    }
    
    .button input {
        font-size: 22px;
    }
    
    .divider {
       height: 45px;
    }
    
    .getStarted > :nth-child(1){
        font-size: 22px;
    }
    

}


/* pop up styling */
.popUp {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
}

.coverScreen {
    position: absolute;
    top: 0; 
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.721);
    z-index: 1;
}

.getStarted3 {
    width: 80%;
    height: 80vh;
    position: relative;
    top: 60px;
    z-index: 2;
    margin: auto;
    background-color: #fff;
}

.getStarted1 {
    width: 90%;
    top: 40%;
    left: 3%;
    position: relative;
}

.getStarted1 > :nth-child(1){
    font-size: 20px;
    color: rgba(0, 0, 0, 0.637);
}

.getStarted1 button, .getStarted button {
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #21c426;
    color: #fff;
    letter-spacing: 0.5px;
    border: none;
    border-radius: 5px;
}

.getStarted1 button:hover, .getStarted button:hover {
    cursor: pointer;
    background-color: #47e74d;
}

@media screen and (min-width: 700px) and (max-width: 1800px) {
    .getStarted1 {
        width: 100%;
        top: 40%;
        left: 30%;
        margin: auto;
        position: relative;
    }
}


